{# templates/base.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SUPER PROJET{% endblock %}</title>
    {# Intégration de Bootstrap (exemple avec CDN) #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_accueil') }}">Mon Projet Symfony</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('app_accueil') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_event') }}">Événements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Inscription</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto"> {# Ajout de la classe ml-auto ici pour aligner à droite #}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('app_profile') }}">Profile</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {# Contenu principal de la page #}
    {% block body %}{% endblock %}
</div>
</body>
</html>
